/* GENERAL */

* {
    outline: none;
}

body {
    margin: 0;
    padding: 50px;
    min-width: 900px;
    min-height: 450px;
    font-family: 'Arial', sans-serif;
}

input,
button {
    border: solid thin #999;
}

button,
input[type="submit"] {
    padding: 10px;
    border: none;
    border-top: solid thin #999;
    border-bottom: solid thin #999;
    border-left: solid thin #999;
    background-color: #fff;
    cursor: pointer;
    color: #000;
}
button:first-of-type,
input[type="submit"]:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
button:last-of-type,
input[type="submit"]:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: solid thin #999;
}
button:hover {
    background-color: #fafafa;
}
button:active,
button.active {
    background-color: #f0f0f0;
}
button:disabled {
    cursor: default;
    background-color: #f0f0f0;
    color: #999;
}

/* NAVIGATION */

nav {
    margin: 50px 0;
    width: auto;
    clear: both;
    overflow: hidden;
}
nav div,
nav button {
    float: left;
}
#account_edit {
    margin: 0 20px;
}
#file_actions {
    float: right;
}

/* MAIN */

table#main {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: monospace;
}
table#main tr {
    min-width: 100%;
}
table#main th,
table#main td {
    padding: 13px;
    border-top: solid thin #f0f0f0;
    border-bottom: solid thin #f0f0f0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
table#main th {
    background-color: #eee;
    border-top: solid thin #eee;
    border-bottom: solid thin #eee;
}
table#main th:nth-of-type(1),
table#main td:nth-of-type(1) {
    text-align: left;
    width: 20%;
}
table#main th:nth-of-type(2),
table#main td:nth-of-type(2) {
    text-align: left;
    width: 40%;
}
table#main th:nth-of-type(3),
table#main th:nth-of-type(4),
table#main td:nth-of-type(3),
table#main td:nth-of-type(4) {
    width: 20%;
    text-align: right;
}
table#main td {
    cursor: text;
}
table#main tr:hover {
    background-color: #fafafa;
}
table#main tr:nth-of-type(3) td:last-of-type {
    font-weight: bold;
}
table#main tr td:last-of-type[negative] {
    color: #e92424;
}
table#main tr:nth-of-type(2) td {
    padding: 10px;
}
table#main tr:nth-of-type(2) td:first-of-type button {
    padding: 2px;
}

/* DIALOGS */

dialog {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 500px;
    border: solid thin #999;
    border-radius: 5px;
    background-color: #fff;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.2);
}

dialog form {
    display: block;
    margin: 20px 0;
    clear: both;
    overflow: hidden;
}
dialog form:first-of-type {
    margin-top: 0;
}
dialog form label {
    display: block;
    margin: 5px 0;
    width: 40%;
    float: left;
}
dialog form input,
dialog form button,
dialog form select,
dialog form textarea {
    display: block;
    margin: 5px 0;
    padding: 0;
    width: 60%;
    float: left;
}
dialog form textarea {
    resize: vertical;
}
dialog #dialog_file_export_result {
    width: 1px;
    height: 1px;
    border: none;
}